html {
    /* width: 100%; */
    /* height: 100%; */
    background-image: url("images/background.jpg");
}

body {
    height: 0vh;
}

                                                            /* header */

#header {
    width: 100%;
    height: 100%;
    position: relative;
    top: 40vh;
    text-align: center;
    animation: moving 6s;
    -webkit-animation: moving 6s;
}

#header span {
    animation: fadein 6s;
    -webkit-animation: fadein 6s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes moving {
    from {top: 65vh;}
    to {top: 40vh;}
}

@keyframes moving {
    from {top: 65vh;}
    to {top: 40vh;}
}

#title {
    color: white;
    font-size: 5em;
}

#description {
    font-size: 2em;
}

                                                            /* sidebar */

#sidebar {
    height: 90vh;
    width: 15em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3em;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.selectionCircle {
    height: 300px;
    width: 175px;
    display: inline-block;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    transition: transform 250ms ease-out;
    border-radius: 50%;
    border: 5px solid transparent;
}

.selectionCircle:hover {
    cursor: pointer;
    border: 5px solid #3dbeff;
    transform: scale(1.1);
    transform-origin: center;
}

.selectionCircle img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}